.section-card {
  padding: 120px 120px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  max-height: 250px; /* opcional */

  
  background-color: #ffffff;
  border-radius: 35px;

  box-shadow: 
    0 10px 10px -5px rgba(0, 0, 0, 0.1),
    0 4px 10px -2px rgba(0, 0, 0, 0.04);
}