
.item {
  background: #f8f8f8;
  padding: 14px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.servico {
  color: #777;
  font-size: 14px;
}

.datahora {
  color: #555;
  font-size: 13px;
  margin-top: 4px;
}

.btn-delete {
  background: transparent;
  border:  none;
  cursor: pointer;
  font-size: 20px;
}

.vazio {
  font-size: 15px;
  color: #777;
}

.loading {
  color: #444;
}

.lista::-webkit-scrollbar {
  width: 6px;
}

.lista::-webkit-scrollbar-thumb {
  background: #c7b0f8;
  border-radius: 4px;
}
