/* src/components/AppointmentForm.css */

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;

  text-align: left;
}

.form input {
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #e1e1e1;
  font-size: 15px;
}

.row {
  display: flex;
  gap: 10px;
}

.btn-criar {
  margin-top: 10px;
  padding: 12px 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: white;
  background: #a884f7;
  transition: 0.2s;
}

.btn-criar:hover {
  background: #8253ff;
}
