.section-card {
  padding: 150px 200px;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  height: 450px; /* opcional */
  overflow:hidden;
  
  background-color: #ffffff;
  border-radius: 35px;

  box-shadow: 
    0 10px 10px -5px rgba(0, 0, 0, 0.1),
    0 4px 10px -2px rgba(0, 0, 0, 0.04);
}

